/* extra small device */
@media screen and (max-width: 767px) {
    .container {
        padding: 10px;
    }
    header {
        flex-direction: column;
        gap: 20px;
    }
    header ul {
        flex-direction: column;
    }
    /* hero styles */
    .hero-section {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 24px;
    }
    .hero-text {
        text-align: center;
    }
    .hero-section h1 {
        font-size: 1.75rem;
        line-height: normal;
    }
    .hero-text button {
        margin: 0 auto;
    }
    .hero-img {
    max-width: 257px;
    max-height: 257px
    }

    /* brand group */
    .brand-group {
        flex-wrap: wrap;
        margin: 50px auto;
        gap: 25px;
    }

    /* popular */
    
    .popular-collection .popular-card-parent {
        grid-template-columns: 1fr;
    }
    .popular-card {
        justify-self: center;
    }
    .popular-collection button {
        right: 0;
        left: 0;
        bottom: -10px;
        margin: 0 auto;
        margin-top: 10px;
    }

    /* featured */
    .featured-section {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .featured-section button {
        margin: 0 auto;
    }


}



/* tablet device */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
    /* hero styles */
    .hero-section {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 24px;
    }
    .hero-text {
        text-align: center;
    }
    .hero-section h1 {
        font-size: 1.75rem;
        line-height: normal;
    }
    .hero-text button {
        margin: 0 auto;
    }
    .hero-img {
    width: 257px;
    height: 257px;
    }

    /* brand group */
    .brand-group {
        flex-wrap: wrap;
        margin: 50px auto;
        gap: 40px;
    }

    /* popular */
    
    /* popular */
    
    .popular-collection .popular-card-parent {
        grid-template-columns: 1fr;
    }
    .popular-card {
        justify-self: center;
    }
    .popular-collection button {
        right: 0;
        left: 0;
        bottom: -10px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
}

/* laptop/ desktop device */

@media screen and (min-width: 1024px) and (max-width: 1440px) {


      header {
        flex-direction: column;
        gap: 20px;
    }
    /* hero styles */
    .hero-section {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 24px;
    }
    .hero-text {
        text-align: center;
    }
    .hero-section h1 {
        font-size: 1.75rem;
        line-height: normal;
    }
    .hero-text button {
        margin: 0 auto;
    }
    .hero-img {
    width: 257px;
    height: 257px;
    }

    /* brand group */
    .brand-group {
        flex-wrap: wrap;
        margin: 50px auto;
        gap: 40px;
    }
    /* popular */
    
    .popular-collection .popular-card-parent {
        grid-template-columns: repeat(2, calc(329px + 30px));
        justify-content: center;
        gap: 15px;
        margin: 0 auto;
    }
    .popular-collection button {
        right: 0;
        left: 0;
        bottom: -10px;
        margin: 0 auto;
        margin-top: 10px;
    }

}