* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #3A3A3A;
    --background-color: #FFFFFF;
    --btn-bg-color: #E02C6D;
}

/* for font */

.poppins-font {
    font-family: "Poppins", sans-serif;
}
.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

/* common styles */
.container {
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
}
.display-flex {
    display: flex;
}

.btn {
    padding: 10px 24px;
    border: none;
    border-radius: 40px;
    background-color: var(--btn-bg-color);
    color: var(--background-color);
    font-size: 1rem;
    width: fit-content;
}

/* body style */
body {
    background-color: var(--background-color);
}

/* header style */
header {
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding-top: 80px;
    margin-bottom: 50px;
}
.brand {
    font-size: 1.5rem;
    font-weight: 700;
}
header ul {
    gap: 20px;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
header ul a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--primary-color);
}
header ul a i {
    color: #000000;
}

/* hero section styles */
.hero-section {
    justify-content: space-between;
    align-items: center;
}
.hero-text  {
    color: var(--primary-color);
    max-width: 580px;
    flex-direction: column;
    gap: 1rem;
}
.hero-text h1 {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}
.hero-text p {
    font-size: 1rem;
    font-weight: 600;
}
.hero-img {
    display: flex;
    align-items: center;
    width: 29.7rem;
    height: 29.7rem;
    background: url(../images/Circle\ design.svg);
    background-size: cover;
    background-position: center;
}
.hero-section img {
    max-width: 95%;
    height: auto;
}
/* brand group */
.brand-group {
    justify-content: center;
    align-items: center;
    border: 1px solid #ebebeb;
    gap: 60px;
    margin: 50px auto;
}
.brand-group img {
    min-width: 100px;
}

/* popular section */
.popular-collection {
    position: relative;
    margin-bottom: 100px;
}
.popular-collection .popular-title {
    color: var(--primary-color);
    text-align: center;
    margin: 30px auto;
    font-size: 1.75rem;
    font-weight: 600;
}
.popular-collection .popular-card-parent {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, calc(329px + 30px));
    gap: 35px;
}
.popular-card-parent .popular-card {
    width: 329px;
    height: 476px;
    padding: 17px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3);
}
.popular-card .card-text {
    flex-direction: column;
    gap: 6px;
    color: var(--primary-color);
    
}
.card-text h3 {
    font-size: 1.5rem;
    margin-top: 6px;
}
.card-text .price {
    font-size: 1.4rem;
}
.card-text .rating-wrapper {
    gap: 8px;
    align-items: center;
}
.rating-wrapper .stars {
    color: #FB8200;
    font-size: 1rem;
}
.card-text .rating-number,
.card-text .card-description {
    font-size: 1rem;
    font-weight: 700;
}
.card-text .card-description {
    line-height: 143%;
    letter-spacing: 1.8%;
    max-width: 196px;
}

.popular-collection button {
    background-color: transparent;
    color: var(--btn-bg-color);
    position: absolute;
    bottom: 0;
    right: 40px;
}