* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #3A3A3A;
    --background-color: #FFFFFF;
}

/* for font */

.poppins-font {
    font-family: "Poppins", sans-serif;
}
.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}
body {
    background-color: var(--background-color);
}